.css{
    color: red;
}
h3{
    color: blue;
}
span{
    color: red;
}
.content-1{
    border: 2px solid blue;
    display: inline-block;
    padding: 20px 40px;
    width: 400px;
    background-color: rgb(203, 203, 244);
    box-sizing: border-box;
    
}
.content-2{
    border: 2px solid blue;
    display: inline-block;
    padding: 20px 40px;
    background-color: rgb(203, 203, 244);
    box-sizing: border-box;
    width: 400px;
}
.title{
    box-sizing: border-box;
    border: 2px solid black;
    display: inline-block;
    padding: 0 25px 25px 25px;
    background-color: aquamarine;
    font-weight: bold;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
